:root{
  --spacing: 10px;
  --cor-clara: #fff4e2;
  --cor-escura: #c09745;
}

*{
  text-align: center;
  align-items: center;
  color: #7d622d;
  list-style: none;
}

body{
  background-color: var(--cor-clara);
}

h1{
  text-align: left;
  /*color: var(--cor-escura);*/
  font-size: 50px;
  padding: none;
  margin-top: 5px;
  margin-bottom: 10px;
}

table{
  margin-left: 12.5vw;
  color: #7d622d;
  border: 1px solid var(--cor-escura);
  border-radius: 10px;
  background-color: var(--cor-escura);
  width: 75vw;
}

th, td{
  border: .5px solid var(--cor-escura);
  border-radius: 5px;
  background-color: var(--cor-clara);
  width: auto;
  font-size: 20px;
}

th{
  font-size: 30px;
}

p.direitos{
  position: absolute;
  /*color: var(--cor-escura);*/
  margin-top: 0;
  top: 2px;
  right: var(--spacing);
}

div.info{
  border: 2px solid var(--cor-escura);
  border-radius: 20px;
  /*color: var(--cor-escura);*/
  font-size: larger;
  position: absolute;
  top: var(--spacing);
  left: var(--spacing);
}

p.info{
  margin: 10px;
  padding: none;
  margin-bottom: 2px;

}

h2{
  /*color: var(--cor-escura);*/
  font-size: 40px;
}

div.equipas{
  display: flex;
  /*
  border: .75px solid var(--cor-escura);
  border-radius: 7.5px;
  */
  flex-wrap: wrap;
  flex-flow: wrap;
  font-size: 20px;
  justify-content: center;
  column-gap: 20px;
}

p.titulo{
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 35px;
}

p.ano{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 25px;
}

div.geral{
  position: relative;
  height: auto;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  min-width: min-content;
  max-width: fit-content;


  overflow: hidden;
  border: 1px solid var(--cor-escura);
  border-radius: 10px;
}

div.geral > ul{
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  
}


